@keyframes inAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.transitionDiv {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.mounted {
  animation: inAnimation 300ms ease-in forwards;
}

.unmounted {
  animation: outAnimation 320ms ease-out forwards;
  animation-direction: reverse;
}
